* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Myriad Pro', sans-serif;
}
.site {
    width: 1280px;
    margin: 0 auto;
}
.logo {
    margin-top: 61px;
    margin-bottom: 45px;
}
.logo a {
    
    color:  #000000;
    font-size: 80px;
    font-weight: 400;
    text-align: center;
    
}
span {
    color: #4bcaff;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.header-menu {
    width: 100%;
    height: 69px;
    background-color: #35444f;
    text-align: center;
}
.header-menu div {
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}

.header-menu div a {
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-align: left;  
}
.header-menu div:hover {
    background-color: #222f3a;
    
}

.menu-nav {
    width: 344px;
    outline: 1px solid black;
    display: inline-block;
    position: absolute;
    margin-top: 51px;
    
} 
.menu-nav div {
    padding: 24px;
    padding-left: 0;
    cursor: pointer;
    color:  #485863;
    transition: all 1s ease-out;
    -moz-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    -webkit-transition: all 0.8s ease-out;
}
.menu-nav a {
    color:  #485863;
    font-size: 27px;
    font-weight: 400;
    text-align: left;
    margin-left: 44px;
}
.menu-nav div:hover {
    background-color: #dcdcdc;
    padding-left: 30px;
}
.menu-nav div:hover a {
    color: black;
}
.container {
    height: 935px;
}
.menu {
    display: inline-block;
    width: 887px;
    margin-top: 51px;
    float: right;
    
}
.img-info {
    width: 885px;
    height: 529px;
    border: 1px solid black;
    display: flex;
    
}
img {
    width: 320px;
    height: 381px;
    margin: 0 auto;
    margin-top: 75px;
}
p {
    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    
}
p:first-child{
    margin: 50px 30px 0 30px;
}
p:last-child {
    margin: 30px;
}
footer {
    width: 100%;
    height: 69px;
}
.footer-nav {
    width: 100%;
    height: 69px;
    background-color: #b4b7ba;
    padding-left: 30px;
}
.footer-nav div {
    display: inline-block;
    padding: 20px 10px;
    cursor: pointer;
}
.footer-nav div a {
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
}
.footer-nav div:hover a {
    color: #2d82a7;
    text-decoration: underline;
    
}

.copyright {
    padding: 20px;
    color:  #010000;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    float: right;
}